@import 'homepage/index.css';
@import 'auth/index.css';
@import 'evaluate/index.css';
@import 'playground/index.css';

html {
  background-color: #f6f6f4;
  color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.Mui-selected {
  background-color: lightgrey !important;
}

.tiny-space {
  height: 10px;
  width: 100%;
}

.small-space {
  height: 20px;
  width: 100%;
}

.medium-space {
  height: 50px;
  width: 100%;
}

.large-space {
  height: 100px;
  width: 100%;
}

.main {
  min-height: 100vh;
  padding: 6rem;
  margin-top: 2rem;
}

.main-content {
  max-width: 1200px;
  margin: 0px auto;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 75%;
  z-index: 0;
  border-top: none;
  border-bottom: none;
  border-bottom-left-radius: 160px;
  background: linear-gradient(to top left, RGB(254, 206, 168, 0.9), RGB(156, 45, 31, 0.9)), url('https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg') center/cover;
}

@media (max-width: 768px) {
  .hero-image {
    width: 100%;
    border-bottom-left-radius: 0px;
  }
}

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.part-header {
  font-size: 32px;
  font-weight: normal;
}

.email-header {
  font-size: 48px;
  font-weight: normal;
}

.part-subtext {
  font-size: 18px;
  color: #888888;
}

.text-label {
  width: 500px;
}

.horizontal-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-input {
  width: 500px;
}

.full-width {
  width: 100%;
  justify-content: space-between;
}

.button-margin {
  margin: 0px 5px;
}

.simple-select {
  width: 200px;
}

.wide-select {
  width: 500px;
}

.prompt {
  width: 100%;
}

.model-select {
  width: 100%;
}

.compact-select {
  width: 200px;
  height:40px;
}

.MuiDataGrid-columnHeaders {
  background-color:#d6daef;
}

.profile-area {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  align-items: flex-end;
}

.profile-picture {
  width: 50px;
  border-radius: 50%;
  transition: box-shadow 0.1s;
}

.profile-picture:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.3) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.profile-picture-active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.3) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.flex-start {
  justify-content: start;
}

.link {
  color: blue;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.header {
  padding: 0px 25px;
}

.menu {
  margin-top: 5px;
  padding: 20px;
  width: 100%;
}

.menu-box {
  width: 100%;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.subtitle {
  color: grey;
  font-size: 14px;
}

.page-select {
  width: 100%;
}

.model-output {
  padding: 10px;
  border-radius: 4px;
}

.page-main-header {
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  margin-top: 8px;
}

.website-title {
  margin-left: 10px;
}

.splash-title {
  letter-spacing: 5px;
  font-size: 120px;
}

.card {
  padding: 20px;
  margin: 0px auto;
}

.small-card {
  padding: 20px;
  max-width: 400px;
}

.data-header {
  background-color: lightgrey;
  margin: 5px 5px;
  padding: 0px 5px;
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.back-icon {
  margin-right: 20px;
}

.table-cell {
  font-weight: bold;
  border-bottom: 3px solid #9C2315;
}

.small-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.small-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 3px; /* Add border radius */
}

.dark-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.dark-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.dark-scrollbar::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px; /* Add border radius */
}


.form-label {
  max-width: 500px;
  color: grey;
}

.project-card {
  min-width: 300px;
  margin-bottom: 20px;
  transition: outline 0.1s;
}

.evaluation-card {
  transition: outline 0.1s;
  max-height: 200px;
  overflow: auto;
}

.active-project-card {
  outline: 2px solid green;
}
.active {
  outline: 2px solid green;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 1rem;
  justify-content: space-around;
}

.headers-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
}

.multi-select {
  width: 500px;
  font-family: "Lato";
}

.italic {
  font-style: italic;
}

.info-box {
  padding: 20px;
}

.model-succeeded {
  margin-top: 2px;
  margin-right: 5px;
  color: lightgreen;
}

.model-failed {
  margin-right: 5px;
  color: #ff726f;
}

.model-training {
  margin-top: 2px;
  margin-right: 5px;
  color: tan;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 70%;
}

.right {
  width: 20%;
  text-align: center;
}

.output-box {
  width: 48%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-text-box {
  width: 100%;
}

.output-code-box .MuiOutlinedInput-root {
  font-family: monospace;
  color: white;
  background-color: rgb(36,36,36);
}

.model-select-box {
  margin-bottom: 10px;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
}

.model-output {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.white {
  background-color: white;
}

.MuiFilledInput-root {
  background-color: white;
}

.check-success {
  color: green;
  font-size: 18px;
}

.check-failure {
  color: red;
  font-size: 18px;
}

.trash-icon {
  width: 12px;
  color: grey;
}

.trash-icon-large {
  width: 16px;
  color: grey;
}

.align-left {
  align-items: flex-start;
}

.metric-box {
  border-radius: 4px;
  padding: 20px;
  min-width: 150px;
}

.horizontal-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1em;
  width: 100%;
}

.chart {
  padding: 20px;
  max-height: 400px;
}

.tooltip-line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: black;
  pointer-events: none;
}

.copy {
  color: black;
}

.create-field {
  width: 100%;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0px;
}

.circular-progress-playground {
  margin-top: 50px;
}

.hidden {
  display: none;
}

.metric-in-table-text {
  border-radius: 8px;
  padding: 0px 4px;
  margin: 4px;
}

.metric-cell {
  color: red;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.small-checkbox {
  padding-top: 0;
  padding-bottom: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fade-in 0.5s ease-in;
}

.fade-in-animation-fast {
  animation: fade-in 0.5s ease-in;
}

.template-box {
  width: calc(70% - 20px);
  margin-right: 20px;
}

.template-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 500px;
  gap: 20px;
  text-align: center;
}

.headers-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
}

.prompt-error {
  background-color: pink;
  border-radius: 5px;
  height: 36px;
  padding: 10px;
}

.prompt-success {
  background-color: lightgreen;
  border-radius: 5px;
  height: 36px;
  padding: 10px;
}

.half-table-cell {
  width: 50%;
}

.template-layout {
  display:flex;
  flex-direction: row;
  height: 500px;
}

.left-message {
  display: flex;
}

.headers-list {
  height: 100px;
  overflow: scroll;
}

.small-text-field {
  width: 200px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup {
  position: relative;
  text-align: left;
  width: 500px;
}

.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
}

.content {
  padding: 36px;
}

.border-card {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 16px;
}

.space-between {
  justify-content: space-between;
}

.horizontal-scroll-box::-webkit-scrollbar {
  width: 0px;
  height: 12px;
}

.horizontal-scroll-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.horizontal-scroll-box::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 3px; /* Add border radius */
}
.horizontal-scroll-box {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 4px;
}

.light-background-card {
  background-color: lightgrey;
  border-radius: 4px;
  padding: 16px;
}

.template-layout-left {
  display: flex;
  flex-direction: column
}

#form-file-upload {
  height: 300px;
  width: 500px;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#form-file-upload:hover {
  background:	#F5F5F5;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9C2315;
  border-radius: 4px;
}

.upload-text {
  font-weight: bold;
}

.upload-text:hover {
  text-decoration: underline;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 8px;
}


