.homepage {
  background-color: #f5f5f5;
}

.homepage button {
  border-radius: 20px;
}

.homepage .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 50px;
  margin: 24px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .homepage .header {
    border-radius: 0px;
  }
}

.main-box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-box-header {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 120%;
  color: #333333;
}

.main-box-subheader {
  font-size: 24px;
  color: #888888;
}

@media (max-width: 768px) {
  .information {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .information-element {
    margin-bottom: 20px;
  }
  .email-list-form {
    flex-direction: column;
  }
  .main-box {
    border-radius: 0px;
    width: calc(100%);
    left: 50%;
    max-width: none;
    margin: 0px;
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .homepage .header {
    justify-content: space-around;
    background-color: transparent;
    box-shadow: none;
  }
  .main-box {
    margin-top: 80px;
  }
  .main-box-header {
    font-size: 32px;
    text-align: center;
  }
  .main-box-subheader {
    font-size: 24px;
    text-align: center;
  }
  .homepage .logo {
    font-size: 48px;
    color: black;
  }
  .sign-in-button {
    display: none;
  }
}

.logo {
  font-size: 56px;
  font-weight: bold;
  color: #333333;
}

.email-list-form {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  max-width: 1200px;
  padding: 0px 40px;
  margin: 0px auto;
  margin-top: 120px;
}

.team-box {
  padding: 0px 40px;
}

.information {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  max-width: 1200px;
  padding: 0px 40px;
  margin: 0px auto;
  margin-top: 120px;
}

.information-element {
  text-align: center;
  max-width: 300px;
}

.footer {
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
}

.green {
  background-color: green;
}
.green:hover {
  background-color: green;
}
.green-on-press:active {
  background-color: green;
}
.green-on-press:hover {
  background-color: #B0452B;
}

.top-content {
  height: 75vh;
}

.workflow-boxes {
  margin-top: -30px;
  margin-bottom: 120px;
}

.workflow-box {
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 120px;
  display: flex;
  padding: 30px 0px;
  border-radius: 60px;
  justify-content: space-around;
  text-align: center;
}

.screenshot-text-container {
  margin: auto;
  padding-bottom: 30px;
  width: 36%;
}

.screenshot-container {
  margin: 0px auto;
  position: relative;
  background-color: #FFBCAE;
  height: 350px;
  width: calc(350px * 1.4);
  border-radius: 30px;
}

.homepage-screenshot {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 100%;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.homepage-screenshot-left {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 100%;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 1200px) {
  .screenshot-container {
    background-color: transparent;
  }
  .homepage-screenshot {
    top: 0px;
    left: 0px;
  }
}
@media (max-width: 768px) {
  .workflow-box {
    flex-direction: column;
  }
  .screenshot-container {
    display: none;
  }
  .screenshot-text-container {
    width: 80%;
  }
}

.homepage-divider {
  margin: 0px auto;
  margin-top: 60px;
  max-width: 1200px;
  min-width: 300px;
}

.homepage-subtitle {
  margin: 0px auto;
  margin-top: 120px;
  text-align: center;
  width: 100%;
}

.workflow-body {
  font-size: 18px;
}

.homepage-space {
  height: 60px;
}

.tutorial .main {
  padding: 0px 50px;
}


