.confusion-matrix {
  display: flex;
  flex-direction: column;
}

.confusion-outer {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 50px;
}

.confusion-lr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confusion-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dist-outer {
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 50px;
}

.dist-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  max-width: 600px;
  margin: 0px auto;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cell {
  border: none;
}
